.container
	.content
		.page-header

		#main

			.row#mixtape
				.span12
					input(type='text', placeholder='Name your Mixtape …').span12
					hr
					h6 A
					ul.playlist.playlistA
					h6 B
					ul.playlist.playlistB
					hr
					.row
						.span12
							.pull-right
								button.search.btn
									i.icon-search
									| &#160;Search for Tracks
								button.publish.btn
									i.icon-share
									| &#160;Share
							div(style='clear:both')

			.row#search
				.span12
					h4
						button.pull-right.btn.back Back
						| Find your track
					hr
					input(type='search', placeholder='Type a song title or artist and press Enter …').span12
					ul.playlist


			.row#publish
				.span12
					h4 Dedicate via SMS
					form#sms-form(action='#', method='get')
						input(type='tel', placeholder='(555) SMS-HERE …').span12
					h4 Dedicate via Facebook
					ul#faces

			.row#player
				.span12
					h2 Player
					button.btn.play
						i.icon-play
					.row
						.info.span12
							.title
							.to
							.from
						.playListA.span6
							h3 Side A
							ul
						.playListB.span6
							h3 Side B
							ul
