.page-header {
  height: 200px;
  background: url("/img/mixtape.gif") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
#search.loading input {
  background: url("/img/load.gif") right 50% no-repeat;
}
#search.loading ul {
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.playlist {
  font-family: 'Nothing You Could Do', cursive;
  list-style: none;
  margin: 0;
}
.playlist li {
  padding: 0 5px;
  border-bottom: 1px solid #eee;
  position: relative;
  cursor: pointer;
}
.playlist li strong {
  display: block;
  font-size: 18px;
  line-height: 27px;
}
.playlist li button {
  margin: 6px;
}
.playlist li .duration {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: small;
}
.playlist li:last-child {
  border-bottom: 0;
}
.playlist [data-state="paused"] .play {
  display: inline-block;
}
.playlist [data-state="paused"] .pause,
.playlist [data-state="paused"] .loading {
  display: none;
  display: none;
}
.playlist [data-state="loading"] .loading {
  display: inline-block;
}
.playlist [data-state="loading"] .play,
.playlist [data-state="loading"] .pause {
  display: none;
}
.playlist [data-state="playing"] .pause {
  display: inline-block;
}
.playlist [data-state="playing"] .play,
.playlist [data-state="playing"] .loading {
  display: none;
}
#search li .add {
  display: block;
}
#faces {
  list-style: none;
  margin: 0;
}
#faces li {
  float: left;
  width: 60px;
  padding: 5px;
  text-align: center;
}
#faces li img {
  width: 50px;
}
#faces li div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#player li.playing {
  font-weight: bold;
}
.icon-loading {
  background: url("/img/load.gif");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
