@import 'nib'

.page-header

	height 200px
	background url(/img/mixtape.gif) center no-repeat
	background-size contain

#search

	&.loading

		input
			background url(/img/load.gif) right 50% no-repeat

		ul
			opacity 0.5


.playlist

	font-family: 'Nothing You Could Do', cursive

	list-style none
	margin 0

	li
		padding 0 5px
		border-bottom 1px solid #eee
		position relative

		cursor pointer

		strong
			display block
			font-size 18px
			line-height 27px

		button
			margin: 6px

		.duration
			position absolute
			right 0
			bottom 0
			font-size small
	
	li:last-child
			border-bottom 0

	[data-state="paused"]
		.play
			display inline-block

		.pause
		.loading
			display none
			display none
	
	[data-state="loading"]

		.loading
			display inline-block

		.play
		.pause
			display none

	[data-state="playing"]

		.pause
			display inline-block

		.play
		.loading
			display none
			

#search

	li .add
		display block

#faces

	list-style none
	margin 0

	li

		float left
		width 60px
		padding 5px
		text-align center

		img
			width 50px
		div
			overflow hidden
			text-overflow ellipsis
			white-space no-wrap

#player
	li.playing
		font-weight: bold;

.icon-loading
	background url(/img/load.gif)
	background-size 100%
